

  .Container {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width:300px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    width: 320px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }

  .registered-users {
    margin-top: 20px;
  }
  
  .registered-users h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .registered-users ul {
    list-style-type: none;
    padding: 0;
  }
  
  .registered-users li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .registered-users li div {
    margin-bottom: 5px;
  }
  
  .registered-users li div:first-child {
    font-weight: bold;
  }
  
  .registered-users li div:last-child {
    color: #666;
  }
  
  