.login_container {
    display: flex;
    margin-top: 30px;
}

.left {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 400px;
    height: auto;
    z-index: -1;
}

.title_below {
    position: absolute;
    top: 65%;
    bottom: 1%;
    left: 45%; 
    transform: translateX(-30%) ;
    margin-top: 100px;
    color:rgb(84,121,247);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
   
   
}


.forward,
.backward {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color:rgb(84,121,247);
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    width:20px;
    z-index: 1; 
}

.forward {
    left: 30px; 
}

.backward {
    right: 100px; 
}

.login_form_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 400px;

}

.form_container {
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form_container input {
    width: 350px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.para1{
    text-align:center ;
    margin-top: 4px;
    margin-bottom: 40px;
    color: grey;
}

.heading{
    margin-top: 20px;
    font-size: 24px;
    color:rgb(84,121,247);
    text-align: center;
}



.noaccount{
    text-align: center; 
    margin-top: 10px;
}

.noaccount a{
    color:rgb(84,121,247);
    text-decoration: none;
}

.noaccount:hover a{
    text-decoration: underline ;
}

.error_msg {
    color: #ff0000;
    margin-bottom: 15px;
    text-align: center;
}

.login_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% ;
}

.left {
    width: 100%;
    padding: 20px;
}

.form_container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    margin-right: 20%;
}


input[type="email"],
input[type="password"],
input[type="text"] {
    width: 350px;
    padding: 15px;
    height: 35px;
;
    font-size: 16px;
    margin-left:25px ;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.error_msg {
    color: #ff0000;
    margin-bottom: 15px;
    text-align: center;
}

h1 a {
    color: #007bff;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}
