
.cardlist{
  display: flex;

}

.categoryTitle{
  text-align: center;
  margin-top: 40px;
}


.title{
  font-size: 35px;
  color: rgb(84,121,247);
}

.subtitle {
  color: grey;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  background-color:rgba(108, 139, 238, 0.11) ;
}

.categoryTitle {
  text-align: center;
  margin-bottom: 40px;
}



.subtitle {
  font-size: 16px;
  color: #666;
}

.cardlist {
  display: flex;
  justify-content: space-between;
}

.Card1,
.Card2,
.Card3,
.Card4 {
  flex: 1;
  margin: 0 10px;
  padding: 20px;

  width : 90px;

  text-align: center;
}

.Card1 h4,
.Card2 h4,
.Card3 h4,
.Card4 h4 {
  font-size: 20px;
  margin-top: 10px;
  color:rgb(84,121,247) ;
  margin-bottom: 10px;
}




.image{
  height: 100px;
  border-radius: 50% ;
  border:6px solid rgb(229, 229, 229) ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
}