.container {
  padding: 20px;
  overflow: hidden; 
  background-color: rgba(155, 178, 252, 0.146);;
}

.categoryTitle {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(84,121,247);
}

.subtitle {
  font-size: 16px;
  color: #555;
}

.subtitles{
  color:#555 ;
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap; /* Ensures content is on one line */
  width: 100%; /* Ensure the container takes up the full width */
  position: relative;
}

.cardlist {
  display: flex;
  animation: marquee 20s linear infinite; /* Adjust the duration for speed */
}

.card {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 150px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h4 {
  margin-top: 10px;
  font-size: 14px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move the cards to the left */
  }
}
