.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usercontainer {
  display: flex;
  gap:20px;
  width: 80%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 10px;
}

.heading {
  font-size: 18px;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  margin-right: 20px; 
}




.Name {
  font-weight: bold;
  font-size: 20px;
  color:rgb(84,121,247);
}


.category {
  color: grey;
  margin-top: 10px;
}


.LinkedIn,
.GitHub,
.languages,
.CollegeName,
.Degree,
.YearOfStudy,
.Skills,
.AboutEducation,
.ProjectCode,
.DeployedLink,
.Certificates {
  font-size: 14px;
}

.LinkedIn img{
  width: 30px;
}

.GitHub img{
  width: 30px;
}

.social{
  display: flex;
  gap:10px;
  margin-top: 10px;
}

