

*{
  font-family: 'Poppins', sans-serif;
}


.icon{
  color :rgb(139, 141, 147) ;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 4px;
 

}
  
.heading img{
    width: 66.5%;
    height: 6%;
    position: relative;
    left: 17%;
    border-radius: 10px;
    margin-top: 50px;

 }
  
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    padding : 0px 20px;
  }
  
  .profile {
    position: absolute;
    top: -75px; 
    left: 28%;
    transform: translateX(-50%);
    z-index: 1; 
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    margin-top: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff; /* White border for a clean look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  }
  
  .details {
    max-width: 800px;
    width: 100%;
    padding: 60px 20px 20px; 
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: fit-content;
  }


.languages{
  margin-left: 60px;
}
  
  
  .username {
    font-size: 1rem;
    margin-left: 60px;
  }
  
  .firstname {
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-left: 60px;
    font-weight: 600;
    color :rgb(84,121,247) ;
  }
  
  .email {
    font-size: 1rem;
    margin-left: 60px;
  }

  .college{
    margin-left: 60px;
  }
  
  .contact {
    display: flex;
    gap: 10px;
    margin-left:650px ;

  }
  
  .linkedin img,
  .github img,
  .phone img {
    width: 40px;
    height: 40px;
  }
  
  .skills{
    margin-left: 60px;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap:break-word;

  }

  

  .certificates {
    margin-bottom: 20px;
  }
  
  .certificates {
    margin-bottom: 20px;
    margin-left: 60px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .hr {
    width : 70%;
    right : 30%;
    position : relative; 
    margin-top : 20px;
    margin-bottom: 10px;
   
  }
  