.sideNavbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  background-color: rgba(84, 122, 247, 0.233);
  height: 100vh;
  padding-top: 20px;
  z-index: 2;

}

.sideNavbar ul {
  list-style-type: none;
  padding: 0;
}

.sideNavbar ul li {
  padding: 10px 0;
}

.sideNavbar ul li a {
  text-decoration: none;
  color:rgb(84,121,247);
  display: block;
  padding: 10px;
  padding-left: 20px;
}

.sideNavbar ul li a:hover {
  background-color:rgb(84,121,247);
  color: white;
  font-weight: 500;
}